<%- include('../partials/header') %>
<div class="container my-5">
  <header class="jumbotron">
    <h1>Sneaker Community</h1>
  </header>

  <div>
    <p>Carl Zeng</p>
  </div>
</div>
<%- include('../partials/footer') %>