<%- include ('../partials/header') %>

<div class="container">
  <header>
    <h1>New SneakerHeader!</h1>
  </header>

  <hr>

  <%- include ('./form') %> 
</div>

<%- include ('../partials/footer') %>